<% provide(:title, 'Matching App') %>
    <% if logged_in? %>

    <h1>The Matching App </h1>
    <br>

    <div class="linkcontainer">
      <div class="centerwrapper">
          <div class="image">
            <%= link_to image_tag("Students.png", height: '100', alt: 'Student logo'), students_path, "data-turbolinks": "false"  %> <br>
            <%= link_to 'Go to student administration', students_path, "data-turbolinks": "false" %>
          </div> <br>

      <div class="image">
        <%= link_to image_tag("Institutes.png", height: '100', alt: 'Institut logo'), institutes_path, "data-turbolinks": "false"  %> <br>
        <%= link_to 'Go to institute administration', institutes_path, "data-turbolinks": "false" %>
      </div><br>

      <div class="image">
        <%= link_to image_tag("Gams.png", height: '100', alt: 'GAMS logo'), '#gams_path', "data-turbolinks": "false"  %> <br>
        <%= link_to 'Go to GAMS administration', '#gams_path', "data-turbolinks": "false" %>
      </div>
    </div>
  </div>

  <br> <br> <br>
    <% end %>
