<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @institute, :name %>
</p>

<p>
  <strong>Number of professors:</strong>
  <%= @institute.number_of_professors %>
</p>

<p>
  <strong>Number of employees:</strong>
  <%= @institute.number_of_employees %>
</p>

<p>
  <strong>Excess capacity:</strong>
  <%= @institute.excess_capacity %>
</p>

<%= link_to 'Edit', edit_institute_path(@institute) %> |
<%= link_to 'Back', institutes_path, "data-turbolinks": "false"  %>
